<%- include("../includes/header.ejs", {title:"resume - View All"}); %>

<h1>Resumes</h1>
<a href="/resume/add/selectuser">Add New Resume</a> <br />

<br />

<table border="1">
    <tr><th>First Name</th><th>Resume Name</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].first_name%> <%= result[i].last_name%></td>
        <td><%= result[i].resume_name%></td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>