<%- include("../includes/header.ejs", {title:"Select User"}); %>
<h1>Select User</h1>
<form action="/resume/insert" method="get">
    Select User: <select id="account_id" name="account_id">
        <% for(var i=0; account.length > i; i++ ) { %>
        <option value="<%= account[i].account_id%>"><%=account[i].first_name%> <%= account[i].last_name%></option>
        <% } %>
    </select>
    <br />
    <br />
    <input type="submit"/>

</form>
<%- include("../includes/footer.ejs"); %>